<div class="container">
    <div class="row">
        
        <div class="col col-12 col-12 col-sm-12 col-mg-12 col-lg-12 col-xl-12 col-xxl-12">
            <div>
                <h3>
                    Complaints?
                    <small class="text-muted">Let us know</small>
                  </h3>
            </div>
            <form>
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-mg-12 col-lg-12 col-xl-12 col xxl-12">
                    <label for="" class="form-label">What has Happend?</label>
                    <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                </div>
                <div class="col col-12 col-sm-12 col-mg-12 col-lg-12 col-xl-12 col xxl-12">
                    <label for="" class="form-label">How can we make things right?</label>
                    <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                </div>        
                <div class="col col-12 col-sm-6 col-mg-6 col-lg-6 col-xl-6 col xxl-6">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>